<!DOCTYPE html>
{% load static %}
<script src="{% static "analyzer/main.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/output.css"%}" media=”screen” />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<html lang="en">
    {% block base_content %}
    <div id="main-content" class="container">
        {% block section_header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}
</html>